@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

.container {
  /* min-height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.footer {
  width: 100%;
  height: 200px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 55px;
}

.icon {
  margin: 5px;
  padding: 5px;
}

.contactHeading {
  font-size: 20px;
  margin-bottom: 20px;
}

.iconHolder {
  background-image: url("../public/images/girl-icon.png");
  background-size: 85px 85px;
  background-position: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  /* position: relative;
  z-index: 20; */
}

.header {
  font-family: 'Staatliches', cursive;
  background-image: url("../public/images/rose.jpeg");
  /* background-image: url("../public/images/arc.jpeg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* margin: -25px auto 0; */
  margin: 0 auto;
  height: 100vh;
  width: 100%;
}

.headerInfo {
  /* position: relative;
  z-index: 2; */
  text-align: center;
  background-color: black;
  width: 45vw;
  height: 350px;
  margin: 35% auto 50px;
  opacity: 0.9;
  animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; 
}

.name {
  margin: 0;
  line-height: 1.15;
  font-size: 5rem;
  letter-spacing: 2px;
  padding-top: 100px;
}

.title {
  font-size: 2rem;
}

.title,
.name {
  text-align: center;
  color:white;
}

.about {
  /* line-height: 1.5;
  font-size: 1rem; */
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  /* padding-top: 25px; */
  text-align: center;
  /* z-index: -1; */
}

.aboutHeading {
  font-family: 'Staatliches', cursive;
  font-size: 5rem;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.me {
  border-radius: 50%;
}

.aboutPar {
  margin-top: 60px;
}

.sectionLook {
  padding: 140px;
  border: 2px white solid;
  margin: 100px 100px 5px;
}

.stackHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0 auto;
}

.wrap {
  width:100%;
  height: 100px;
  margin: 0 auto;
  /* z-index: 9; */
  position: relative;
}

.gradientText{
  /* z-index: 9; */
  padding-top: 100px;
  background: linear-gradient(to right, #F903E2,#08D808);
  background-size: 100% 100%;
  animation: rainbow 2s ease-in-out infinite, bounce1 2s linear infinite;
  background-clip: text;
  -webkit-background-clip:text;
  color:white;
  display:block;
  transition: color .2s ease-in-out;
  text-align: center;
  font-size: 2rem;
}

.gradientText:hover{
  color:rgba(0,0,0,0);
}

.space {
  height: 50px;
  width: auto;
  background-color: black;
}

.contactHeading {
  font-family: 'Staatliches', cursive;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

/* MOBILE */

@media (max-width: 768px) {
  /* .grid {
    width: 100%;
    flex-direction: column;
  } */

  .container {
    width: 100vw;
  }
  
  .header {
    height: 90vh;
  }

  .headerInfo {
    /* position: relative;
    z-index: 2; */
    text-align: center;
    background-color: black;
    width: 300px;
    height: 350px;
    margin: 140px auto 2px;
    opacity: 0.9;
    padding: 20px;
  }

  .name {
    padding-top: 50px;
  }

  .aboutHeading{
    font-size: 2rem;
    padding: 10px;
    margin-bottom: 20px;
  }

  .aboutPar {
    margin-top: 25px;
  }

  .aboutMe {
    padding: 40px;
  }

  .sectionLook {
    padding: 15px 5px;
    margin: 30px 30px 5px;
  }
  
  .about {
    width: 100vw;
    text-align: center;
  }

  .projectTitle {
    font-size: 25px;
  }

  .space {
    height: 40px;
    width: auto;
    background-color: black;
  }

  .contactHeading {
    font-family: 'Staatliches', cursive;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 50px;
  }

  .footer {
    width: 100%;
    height: 250px;
    padding-bottom: 45px;
  }
}

/* MEDIUM SCREENS */

@media (min-width: 769px) and (max-width: 1024px) {
  .headerInfo {
    /* position: relative;
    z-index: 2; */
    width: 400px;
    margin: 40% auto 10px;
  }
}

/* LARGE SCREENS */

@media (min-width: 1025px) {
  .headerInfo {
    /* position: relative;
    z-index: 2; */
    width: 500px;
    margin: 30vh auto 10px;
    opacity: 0.9;
  }

  .aboutPar{
    width: 450px;
    margin: 50px auto;
  }

  .projectImg {
    width: 500px;
  }

  .projectInfo {
    margin: 0 auto;
  }
}

/* KEYFRAMES */

@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}

@keyframes bounce1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}


